<div class="box-header with-border">
    <h3 class="box-title">გაგზავნის გაუქმება</h3>
    <h4 class="box-title btn-danger">{{$ctrl.ajaxMessage}}</h4>
</div>
<div class="box-body box-primary">
    <table ng-if="$ctrl.finedDrugTransfers.length" class="table table-bordered table-condensed table-striped">
        <tr>

            <th>Waybill</th>
            <th>Date</th>
        </tr>
        <tr  ng-repeat="$item in $ctrl.finedDrugTransfers">
            <td >{{$item.ntnkey}}</td>
            <td>{{$item.date}}
                <table ng-if="$item.tranfers" class="table table-bordered table-condensed table-striped">
                    <tr>
                        <th>Tranfer Id</th>
                        <th>Drug Id</th>
                        <th>Invoice Id</th>
                        <th>Clinic</th>
                        <th>Date Recived</th>
                        <th>Dleft</th>

                    </tr>
                    <tr  ng-repeat="$transfer in $item.tranfers">

                        <td>{{$transfer.id}}</td>
                        <td>{{$transfer.drug_id}}</td>
                        <td>{{$transfer.drug_invoice_id}}</td>
                        <td>{{$transfer.clinic_id}}</td>
                        <td>{{$transfer.date_recived}}</td>
                        <td>{{$transfer.dleft}}</td>

                    </tr>

                </table>    

            </td>

        </tr>
    </table>
</div>

