<div class="box-header with-border">
    <h3 class="box-title">გაგზავნის გაუქმება</h3>
    <h4 class="box-title btn-danger">{{$ctrl.ajaxMessage}}</h4>
</div>
<div class="box-body box-primary">
    <div class=" form-group">
        <div class="col-md-6">
            <input class="form-control" ng-model="$ctrl.ntnCode" placeholder="029-იანი კოდი" ng-disabled="$ctrl.areInputsDisabled" name="oo" required="">
        </div>
        <label class="margin"></label>
        <div class="col-md-4 col-centered">

            <button type="submit" ng-if="!$ctrl.finedDrugTransfers.length" ng-click="$ctrl.getData()" ng-disabled="$ctrl.checkSendButton()" class="btn btn-primary">ძიება</button>

            <div class="row">
                <button type="submit" ng-if="$ctrl.finedDrugTransfers.length" ng-click="$ctrl.deleteData()"  class="btn btn-primary">წაშლა</button>
                <button type="submit" ng-if="$ctrl.finedDrugTransfers.length" ng-click="$ctrl.reset()"  class="btn btn-primary">ახალი ძიება</button>
            </div>

        </div>


    </div>


    <table ng-if="$ctrl.finedDrugTransfers.length" class="table table-bordered table-condensed table-striped">
        <tr>
            <th>Clinic Name</th>
            <th>Drug name</th>
            <th>Quantity</th>
            <th>Dose</th>
            <th>Serial number</th>
            <th>Transfer id</th>
            <th>Unit</th>
        </tr>
        <tr  ng-repeat="$item in $ctrl.finedDrugTransfers">
            <td style="width: 30%">{{$item.clinic_name}}</td>
            <td>{{$item.name}}</td>
            <td>{{$item.sentq}}</td>
            <td>{{$item.dose}}</td>
            <td>{{$item.serial_number}}</td>
            <td>{{$item.tid}}</td>
            <td>{{$item.unit}}</td>
        </tr>
    </table>



</div>

