<div class="box-header with-border">
    <h3 class="box-title">ჩამოწერა</h3>
    <h4 class="box-title btn-danger">{{$ctrl.ajaxMessage}}</h4>
</div>
<div class="box-body box-primary">
    <div class="alert alert-danger alert-dismissable" ng-if="vv.ajaxMessage" id="error">
        {{vv.ajaxMessage}}
    </div>
    <div class=" form-group">
        <div class="col-md-12">
            <select ng-model="vv.selectedDrug" ng-change="vv.selectDrug()" class="form-control" name="drug_id" id="drug_name">
                <option ng-repeat="option in vv.drugs" ng-value="option.id">{{option.name}} - ({{option.manufacturer}} , {{option.registration_number}})</option>

            </select>
        </div>
        <div ng-if="vv.invoices.length"  class="col-md-12">
            <select ng-if="vv.invoices" ng-model="vv.selectedInvoice" ng-change="vv.selectInvoice()" class="form-control" name="drug_id" id="drug_name">
                <option ng-repeat="option in vv.invoices" ng-value="option.id">{{option.serial_number}} (რაოდენობა {{option.dleft}})({{option.warehouse_name}})</option>

            </select>
        </div>

        <div ng-if="vv.showCvantity"  class="col-md-12">

            <div  class="col-md-12">
                <select   ng-model="vv.selectedType"  class="form-control" name="drug_id" >
                    <option ng-repeat="option in vv.types" ng-value="option.value">{{option.name}}</option>

                </select>
            </div>
            <div >
                <input ng-model="vv.selectedCvantity" placeholder="raodenoba" />

            </div>
            <datepicker date-format="yyyy-MM-dd">
                <input placeholder="enter date" class="form-control" ng-model="vv.selectedDate" type="text"/>
            </datepicker>
            <label class="margin"></label>
            <div class="col-md-4 col-centered">
                <button type="submit" ng-disabled="vv.disableButton" ng-click="vv.save()" class="btn btn-primary">Save</button>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table ng-if="vv.deleted.length" class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>Drug id</th>
                    <th>Name</th>
                    <th>Invoice id</th>
                    <th>Serial</th>
                    <th>Quantity</th>
                    <th>Date</th>

                </tr>
                <tr  ng-repeat="item in vv.deleted">
                    <td style="width: 30%">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.invoice_id}}</td>
                    <td>{{item.serial_number}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.date}}</td>

                </tr>
            </table>
        </div>

    </div>
</div>

