<div class="box-header with-border">
    <h3 class="box-title">RS ზედნადების გაუქმება</h3>
    <h4 class="box-title btn-danger">{{$ctrl.ajaxMessage}}</h4>
</div>
<div class="box-body box-primary">
    <div class=" form-group">
        <div class="col-md-6">
            <input class="form-control" ng-model="$ctrl.RSCode" placeholder="S-იანი კოდი" ng-disabled="$ctrl.areInputsDisabled"  name="ss" required="" />
        </div>
        <label class="margin"></label>
        <div class="col-md-4 col-centered">
            <button type="submit" ng-click="$ctrl.getData()" ng-disabled="$ctrl.checkSendButton()" class="btn btn-primary">ძიება</button>
            <div class="row">
                <button type="submit" ng-if="$ctrl.finedDrugTransfers.length" ng-click="$ctrl.deleteData()"  class="btn btn-primary">წაშლა</button>
                <button type="submit" ng-if="$ctrl.finedDrugTransfers.length" ng-click="$ctrl.reset()"  class="btn btn-primary">ახალი ძიება</button>
            </div>
        </div>
    </div>
</div>

