<div class="navbar-header">
    <a class="navbar-brand" href="#">GOD</a>
</div>
<ul class="nav navbar-nav"> 
    <li class="active">
         <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">გაგზავნის გაუქმება<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a  ng-link="['Invoice']">RS გაუქმება</a></li>
            <li><a  ng-link="['Waybill']">Waybill</a></li>
            <li><a  ng-link="['WaybillHistory']">Waybill delete history</a></li>
            <!--<li><a href="#">Something else here</a></li>-->
            <li role="separator" class="divider"></li>
<!--            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>-->
        </ul>
        
    </li>
    <li><a href="#">თრანსფერის გაუქმება</a></li>
    <li><a href="#">Page 2</a></li>
    <li>
       
    </li>
</ul>
<br />
<br />
<div class="row">
    <ng-outlet></ng-outlet>
</div>
